<div class="table">
  <div class="table__header" [ngClass]="{ 'table__header-child': parentId }">
    <button
      type="button"
      class="table__header-item"
      *ngFor="let tableHeader of tableHeaders"
      #headerCell
      (click)="sortColumnBy(tableHeader.name)"
    >
      {{ tableHeader.name }}
    </button>
  </div>
  <div class="table__body">
    <div
      *ngFor="let tableRow of tableRows; let rowIndex = index"
      class="table__row"
    >
      <div class="table__row-item">
        <div
          *ngFor="let tableHeader of tableHeaders"
          class="table__cell"
          #tableCell
        >
          <ng-template
            *ngTemplateOutlet="
              tableHeader.name === null && tableRow.children ? button : name;
              context: {
                cell: tableRows[rowIndex].fields[tableHeader.name],
                id: tableRows[rowIndex].id
              }
            "
          >
          </ng-template>
        </div>
        <ng-container *ngIf="tableRow.editOptions.length">
          <div class="table__cell-options">
            <ng-template
              *ngTemplateOutlet="
                tableRow.editOptions.length > 2
                  ? editOptionButton
                  : editOptions;
                context: {
                  options: tableRow.editOptions
                }
              "
            ></ng-template>
          </div>
        </ng-container>
      </div>
      <div
        *ngIf="tableRow.children"
        class="table__row-child"
        [@detailExpand]="expanded[tableRow.id] ? 'expanded' : 'collapsed'"
      >
        <table-component
          *ngIf="tableRow.children"
          [table]="tableRow.children"
          [parentId]="tableRow.children.rows[0].parentId"
        ></table-component>
      </div>
    </div>
  </div>
</div>

<ng-template #name let-cell="cell">
  <div class="table__cell-item">
    <img
      [src]="cell && cell.icon"
      class="table__cell-icon"
      *ngIf="cell && cell.icon"
    />
    <p *ngIf="cell && cellUnderEdit[cell.id] !== cell.id">{{ cell.name }}</p>
    <ng-template
      *ngTemplateOutlet="cell && cellUnderEdit[cell.id] ? underEdit : notUnderEdit; context: {
      cell: cell,
    }"
    >
    </ng-template>
  </div>
</ng-template>

<ng-template #button let-id="id">
  <button (click)="getId(id)" style="width: '30px'">
    {{ expanded[id] ? '-' : '+' }}
  </button>
</ng-template>

<ng-template #notUnderEdit let-cell="cell">
  <div class="table__cell-btn-block">
    <button
      *ngIf="cell && cell.editable"
      type="button"
      class="table__cell-btn"
      (click)="editField(cell.id)"
    >
      <img
        class="table__cell-edit"
        src="https://cdn.icon-icons.com/icons2/841/PNG/512/flat-style-circle-edit_icon-icons.com_66939.png"
      />
    </button>
  </div>
</ng-template>

<ng-template #underEdit let-cell="cell">
  <div class="table__cell-input-block">
    <input type="text" [value]="cell.name" class="table__cell-input" />
    <button type="button" (click)="saveField(cell)" class="table__cell-edit">
      Save value
    </button>
  </div>
</ng-template>

<ng-template #editOptionButton let-options="options">
  <button>...</button>
</ng-template>

<ng-template #editOptions let-options="options">
  <div *ngFor="let option of options" class="table__cell">
    {{ option }}
  </div>
</ng-template>
