.table {
  position: relative;
}

.table__header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid rgba(103, 58, 183, 1);
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  line-height: 42px;
}

.table__header-child {
  border-bottom: inherit;
  position: relative;
  background: rgba(238, 241, 246, 1);
  width: 100%;
  height: 40px;
  box-sizing: content-box;
}

.table__header-child::before {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: -20px;
  right: 0;
}

.table__header-item {
  white-space: nowrap;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  text-align: start;
  margin-left: 40px;
  padding: 0;
}

.table__header-text {
}

.table__body {
}

.table__row {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.table__row-item {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.table__row-child {
  padding-left: 20px;
}

.table__cell {
  display: flex;
  margin-left: 40px;
}

.table__cell-item {
  display: flex;
  align-items: center;
  max-width: 300px;
  position: relative;
}

.table__cell-options {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
  display: flex;
}

.table__cell-input {
  width: 100%;
  box-sizing: border-box;
}

.table__cell-item p {
  padding: 0;
  margin: 0;
}

.table__cell-icon {
  width: 30px;
  height: 30px;
  padding-right: 15px;
}

.table__cell-edit {
  width: 30px;
  height: 30px;
}

.table__cell-btn-block {
  display: flex;
  align-self: flex-start;
}

.table__cell-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
}
